<h1>
  {{title}}
</h1>

<form (submit)="dodajStudenta(indeks)" ngNativeValidate>
  <div>
    <label>Broj indeksa: <input name="brojIndeksa" [(ngModel)]="student.brojIndeksa" type="text" required></label>
  </div>
  <div>
    <label>Ime: <input [(ngModel)]="student.ime" name="ime" type="text" required></label>
  </div>
  <div>
    <label>Prezime: <input [(ngModel)]="student.prezime" name="prezime" type="text" required></label>
  </div>
  <div>
    <label>Godina upisa: <input [(ngModel)]="student.godinaUpisa" name="godinaUpisa" type="number" required></label>
  </div>
  <div>
    <label>Smer:
      <select name="smer" [(ngModel)]="student.smer">
        <option *ngFor="let smer of smerovi" [ngValue]="smer">{{smer.naziv}}</option>
      </select>
      <!-- <input [(ngModel)]="student.smer" name="smer" type="text" required> -->
    </label>
  </div>
  <div>
    <label>Prosečna ocena: <input [(ngModel)]="student.prosecnaOcena" name="prosecnaOcena" type="number" step="0.01"
        min="5" max="10"></label>
  </div>
  <div>
    <button *ngIf="indeks===undefined" type="submit">Dodaj studenta</button>
    <button *ngIf="indeks != undefined" type="submit">Izmeni studenta</button>
    <button (click)="resetForme()" *ngIf="indeks != undefined" type="button">Odustani</button>
  </div>
</form>

<table class="tabela">
  <thead>
    <tr>
      <th>Broj indeksa</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Godina upisa</th>
      <th>Smer</th>
      <th>Prosečna ocena</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studenti; index as i">
      <td>{{student["brojIndeksa"]}}</td>
      <td>{{student["ime"]}}</td>
      <td>{{student["prezime"]}}</td>
      <!-- <td>{{student["godinaUpisa"] ? student["godinaUpisa"] : '-'}}</td>-->
      <td><span *ngIf="student['godinaUpisa']; else praznoPolje">{{student["godinaUpisa"]}}</span></td>
      <td><span *ngIf="student['smer']">{{student["smer"]["sifraSmera"]}}</span></td>
      <td><span *ngIf="student['prosecnaOcena']; else praznoPolje">{{student["prosecnaOcena"]}}</span></td>
      <td>
        <button (click)="ukloni(i)">Ukloni {{i}}</button>
        <button (click)="izmeni(i)">Izmeni {{i}}</button>
      </td>

    </tr>
  </tbody>
</table>

<ng-template #praznoPolje>-</ng-template>